.loader-container{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.432);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.loader-container div{
    height: 100px;
    width: 100px;
    /* border: 3px black solid; */
    border-left: 2px black solid;
    border-top: 2px black solid;
    border-radius: 50%;
    animation: loader .5s linear infinite;
}


@keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    /* 100%{
        transform: rotate(0deg);
    } */
}